ul{
  list-style-type: none;
  border: 1px solid rgb(216, 119, 63);
  overflow: hidden;
  

}
a{
  text-decoration: none;
  color: rgb(197, 154, 74);
}
li{
  list-style-type: none;
  float: center;
}
li a{
  list-style-type: none;

  display: inline-block;
  padding: 14px;
}
.nav-right{
  float: right;
}
li a:hover{
  background-color: aquamarine;
}
li a.active{
  background-color: blue;
  color: antiquewhite;
}
table{
  widows: 100%;
  border-collapse: collapse;
}
thead{
  background-color:blue;
  color: white;
}
tbody tr:nth-child(even){
  background-color: wheat;
}
div{
  border : 4px;
border-style: none;
border-radius: 1px;
box-shadow: white;

}