title{
  text-align: center; 
  color:4CAF50;
  text-transform: uppercase;
font-size: 32px;
font-family: 'Times New Roman', Times, serif
}

body{
/*  background-image: url(https://www.fue.edu.eg/ImageHandler.ashx?Id=6429&SS=7236ec28809dbdd72855fd7784ae9d01);*/
  background-repeat: no-repeat;
  background-position: center;
}

ul{
  list-style-type: none;
  border: 1px solid #e7e7e7; 
  background-color: #f3f3f3;
  overflow: hidden;
  padding: 0px;
  margin: 0px;

}
li{
  float: left;
}

a{
  text-decoration: none;
  color: #008CBA;
}